* {padding: 0; margin: 0; outline: 0; border: 0}

@font-face {
    font-family: 'Titillium';
    src:url('../fonts/titilliumtext22l003-webfont.eot');
    src:url('../fonts/titilliumtext22l003-webfont.eot?iefix') format('eot'), url('../fonts/titilliumtext22l003-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src:url('../fonts/titilliumtext22l005-webfont.eot');
    src:url('../fonts/titilliumtext22l005-webfont.eot?iefix') format('eot'), url('../fonts/titilliumtext22l005-webfont.ttf') format('truetype');
    font-weight: bold;
}

body {
    margin: 0 auto;
    padding: 0px 15px 15px 15px;
    max-width: 768px;
    font-family: Titillium,Helvetica,Arial,sans-serif;
    font-size: 10px;
}

.row-fluid {
    width: 100%;
}

.row-fluid::before,
.row-fluid::after {
    display: table;
    content: "";
}

.row-fluid::after {
    clear: both;
}

[class*=span] {
    float: left;
}

.span2 {
    width: 16%;
}

.span3 {
    width: 25%;
}

.span4 {
    width: 33%;
}

.span8 {
    width: 67%;
}

.span9 {
    width: 75%;
}

.span10 {
    width: 84%;
}

.span12 {
    width: 100%;
}

/* Header */
[data-role=header] h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 490%;
    max-width: 470px;
}

[data-role=header] h2 {
    color: #999999;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 470px;
}

[data-role=header] ul.contact {
    float: right;
    list-style: none;
    margin-top: 15px;
}

[data-role=header] ul li {
    margin-bottom: 2px;
    position: relative;
}

[data-role=header] ul li:last-child {
    margin-bottom: 0px;
}

[data-role=header] ul.contact a {
    color: #333333;
    display: block;
    font-size: 130%;
    line-height: 24px;
    text-decoration: none;
    top: 0;
    left: 0;
    margin-left: 35px;
}

[data-role=header] ul.contact a:hover {
    text-decoration: underline;
}

[data-role=header] ul.contact li img {
    position: absolute;
    display: block;
    top: 0px;
}

#web img {
    margin-top: 1px;
}

#email img {
    margin-top: 4px;
    margin-left: 1px;
}

#phone img {
    margin-left: 6px;
}

/* Content */
[data-role=content] { margin-top: 10px; }

[data-role=content] h3 {
    color: #000000;
    font-size: 200%;
    font-weight: normal;
    margin-top: 20px;
    text-transform: uppercase;
    position: relative;
    overflow: visible;
    height: 28px;
}

[data-role=content] h3 > img {
    position: absolute;
    display: block;
}

[data-role=content] h3 > span {
    position: absolute;
    display: block;
    top: 0;
    left: 35px;
    line-height: 28px;
}

#experience .history > div:first-child > * {
    padding-left: 35px;
}

#experience .history > div:last-child > * {
    padding-left: 15px;
}

#experience .history {
    margin-top: 15px;
}

#experience h4 {
    color: #333333;
    font-size: 140%;
}

#experience p {
    color: #999999;
    font-size: 130%;
}

#experience p.skills {
    margin-top: 5px;
    display: none;
}

#experience .history.hover p.skills {
    display: block;
}

#experience p.skills strong {
    color: #333333;
    font-weight: bold;
}

#miscellaneous h3 > img {
    margin-top: 1px;
}

#miscellaneous h4 {
    color: #333333;
    font-size: 140%;
}

#miscellaneous .item {
    margin-top: 15px;
}

#miscellaneous .item > div:first-child > * {
    padding-left: 35px;
}

#miscellaneous .item > div:last-child > * {
    padding-left: 15px;
}

#miscellaneous ul {
    list-style: none;
}

#miscellaneous ul li {
    color: #999999;
    font-size: 130%;
}

#miscellaneous ul li a {
    color: #333333;
    text-decoration: none;
}

#miscellaneous ul li a:hover {
    text-decoration: underline;
}

#skills h3 > img {
    margin-top: 1px;
}

#skills ul {
    list-style: none;
    margin-top: 15px;
    overflow: visible;
    padding-left: 35px;
}

#skills ul li {
    color: #333333;
    display: block;
    float: left;
    font-size: 130%;
    width: 33%;
}

#skills .title {
    display: block;
    line-height: 20px;
    width: 80px;
    float: left;
}

#skills .title::after {
    color: #333333;
    content: ": ";
    font-size: 130%;
}

#skills .level {
    display: block;
    margin-left: 80px;
}

#skills .level img.inactive {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

@media (max-width: 630px) {
    [data-role=header] h1 {
        font-size: 390%;
        max-width: 380px;
    }

    [data-role=header] h2 {
        max-width: 380px;
    }

    #skills ul li {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    [data-role=header] h1 {
        font-size: 470%;
        max-width: 470px;
    }

    [data-role=header] h2 {
        max-width: 470px;
    }

    [data-role=header] .span9,
    [data-role=header] .span3 {
        width: 100%;
    }

    [data-role=header] ul.contact {
        float: none;
        overflow: visible;
    }

    [data-role=header] ul.contact::before,
    [data-role=header] ul.contact::after {
        display: table;
        content: "";
    }

    [data-role=header] ul.contact::after {
        clear: both;
    }

    [data-role=header] ul.contact li {
        float: left;
        width: 33%;
    }

    [data-role=header] ul.contact li:last-child {
        margin-right: 0px;
        float: right;
        width: auto;
    }
}

@media (max-width: 500px) {
    #experience .span9,
    #experience .span3,
    #miscellaneous .span9,
    #miscellaneous .span3 {
        width: 100%;
    }

    #experience .history > div:first-child > *,
    #experience .history > div:last-child > *,
    #miscellaneous .item > div:first-child > *,
    #miscellaneous .item > div:last-child > * {
        padding-left: 0px;
    }

    #experience .history > div:first-child,
    #miscellaneous .item > div:first-child {
        margin-bottom: 5px;
    }

    #experience .history.hover p.skills {
        display: none;
    }
}

@media (max-width: 460px) {
    [data-role=header] h1 {
        font-size: 400%;
    }
}

@media (max-width: 425px) {
    #skills ul li {
        width: 100%;
    }

    [data-role=header] ul.contact li:first-child {
        display: none;
    }

    [data-role=header] ul.contact li {
        float: left;
        width: auto;
        margin-right: 20px;
    }

    [data-role=header] ul.contact li:last-child {
        float: left;
        margin-right: 0px;
    }
}

@media (max-width: 325px) {
    [data-role=header] h1 {
        font-size: 275%;
    }
}

@media print {
    [data-role=header] h1 {
        font-size: 450%;
        max-width: 425px;
    }

    [data-role=header] h2 {
        max-width: 425px;
    }

    #experience p.skills {
        display: block;
    }
}
